[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/myproject
Environment="PATH=/home/ubuntu/myproject/.venv/bin"
ExecStart=/home/ubuntu/myproject/.venv/bin/gunicorn --bind 127.0.0.1:5000 wsgi:app

[Install]
WantedBy=multi-user.target
